# Artefactos generados por live-build
editions/*/build/
editions/*/config/includes.chroot/usr/
editions/*/config/config/
editions/*/config/.build/
editions/*/config/cache/
editions/*/config/chroot/
editions/*/config/binary/
editions/*/config/local/
*.iso
*.img
*.log
