[Desktop Entry]
Name=Instalar con Antü
Comment=Instala programas de Windows sobre Antü
Exec=antu-resolver install %f
Type=Application
Terminal=false
NoDisplay=true
MimeType=application/x-msi;
Categories=System;
