[Desktop Entry]
Name=Abrir con Antü
Comment=Ejecuta programas de Windows sobre Antü
Exec=antu-resolver run %f
Type=Application
Terminal=false
NoDisplay=true
MimeType=application/x-ms-dos-executable;application/x-msdownload;
Categories=System;
